# SPDX-License-Identifier: GPL-2.0-only
#
# Touchscreen driver configuration
#
menuconfig INPUT_TOUCHSCREEN
	bool "MediaTek Touchscreens"
	help
	  Say Y here, and a list of supported touchscreens will be displayed.
	  This option doesn't affect the kernel.

	  If unsure, say Y.


config TOUCHSCREEN_MTK_ILI9881
	bool "ILI9881 Package"
	help
	  If unsure, say N.


